@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%) ;
    --darkblue: hsl(218, 44%, 22%);
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--lightgray);
    padding: 20px;
}

.qr-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);;
    border: 1px solid var(--lightgray);
    padding: 1rem;
    border-radius: 20px;
    width: 340px;
    box-shadow: 0px 30px 50px 0px rgba(0,0,0,0.1);
}

.qr-container .text {
    color: var(--darkblue);
    padding: 1rem 2rem 1rem;
}

.qr-container img {
    width: 100%;
    border-radius: 15px;
}

.qr-container h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

.qr-container p {
    color: var(--grayishblue);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding: 0 1rem;
}

.attribution {
    font-size: 12px;
    color: var(--grayishblue);
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}